{
	"env": {
		"es6": true,
		"node": true
	},
	"extends": ["6river/typescript"],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2021,
		"sourceType": "module",
		"project": ["./tsconfig.json"]
	},
	"plugins": ["@typescript-eslint"],
	"rules": {
		"no-unused-vars": "off",
		"comma-dangle": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off"
	}
}
